<!-- PARENT -->
<main>
    <h1>Enter your agenda bellow!</h1>
    <section>
        <input type="text" placeholder="Enter the goal for today!" [(ngModel)]="userInput">
        <br>
        <select name="subscriptionType" [(ngModel)]="priority">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        <br>
        <button (click)="createNewGoal()">Create</button>
    </section>

    <!-- Our  -->
    <section>
        <app-to-do-list></app-to-do-list>
    </section>

    <section>
        <!-- have the parent pass down the props to the child component -->
        <app-filter 
        [high]="highCount" 
        [medium]="mediumCount" 
        [low]="lowCount"
        (selectedFilterRadioButtonChange)="onFilterChange($event)">
        </app-filter>
    </section>

    <section>
        <app-to-do-list *ngIf="selectedFilterRadioButton === 'high'">
        </app-to-do-list>

    </section>

    


</main>