<!-- PARENT -->
<main>
    <h1 appSetBackgroundColor>Enter your agenda bellow!</h1>
    <section>
        <input type="text" placeholder="Enter the goal for today!" [(ngModel)]="userInput">
        <br>
        <select name="subscriptionType" [(ngModel)]="priority">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        <br>
        <button appPropHover (click)="createNewGoal()">Create</button>
    </section>

    <section>
        <app-to-do-list>
            <div *ngFor="let item of agendaList" class="title" appHighlight>
   
                {{item.priority}}: {{item.userInput}}
    
            </div>
            
        </app-to-do-list>
    </section>

    <section>
        <app-filter 
        [high]="highCount" 
        [medium]="mediumCount" 
        [low]="lowCount"
        (selectedFilterRadioButtonChange)="onFilterChange($event)">
        </app-filter>
    </section>

    <!-- Current what is happening is that we are rendering the entire view
         of app-to-do-list -->

         <!-- High needs to be uppercase -->
    <section >
        <app-to-do-list>
            <div *ngFor="let item of agendaList" class="title" >
                <div *ngIf="item.priority === selectedFilterRadioButton" >
                    {{item.priority}}: {{item.userInput}}
                </div>
            </div>
        </app-to-do-list>

    </section>

</main>