<div>
    <br><br>
    <span>Filter: </span>
    <input 
    type="radio" 
    name="filter" 
    value="High" 
    [(ngModel)]="selectedFilterRadioButton" 
    (change)="onSelectedFilterRadioButtonChange()"> 
    <span>{{'High ('+high+')'}}</span>

    <input 
    type="radio" 
    name="filter" 
    value="Medium" 
    [(ngModel)]="selectedFilterRadioButton" 
    (change)="onSelectedFilterRadioButtonChange()">
    <span>{{'Medium ('+medium+')'}}</span>

    <input 
    type="radio" 
    name="filter" 
    value="Low" 
    [(ngModel)]="selectedFilterRadioButton" 
    (change)="onSelectedFilterRadioButtonChange()">
    <span>{{'Low ('+low+')'}}</span>
</div>